@{
  Layout = "_Layout";
}

<h1>Order Details:</h1>
<br>
<h3>Vendor: @Model["vendor"].Name</h3>
<h3>Vendor Description: @Model["vendor"].Description</h3>
<br>
<h3>Delivery Date: @Model["order"].DeliveryDate</h3>
<h3>Order Title: @Model["order"].Title</h3>
<h3>Order Description: @Model["order"].Description</h3>
<h3>Price: @Model["order"].Price</h3>
<h3>Date Order Placed: @Model["order"].DatePlaced</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>